generated-by = makedeb
pkgname = betterbird-bin
pkgbase = betterbird-bin
pkgdesc = Betterbird is a fine-tuned version of Mozilla Thunderbird, Thunderbird on steroids, if you will.
pkgrel = 1
pkgver = 91.9.0
url = https://www.betterbird.eu/index.html
arch = x86_64
conflicts = betterbird
license = MPL2
provides = betterbird
source = https://www.betterbird.eu/downloads/LinuxArchive/betterbird-91.9.0-bb31.en-US.linux-x86_64.tar.bz2
source = betterbird.desktop
source = betterbird.svg
sha256sums = SKIP
sha256sums = SKIP
sha256sums = SKIP
